.breed-card
{
    background: #394255;
    color: white;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    cursor: pointer;
    &:hover{
        background: var(--vn-green);
    }
}